# This file automatically loads environment variables
PROJECT_NAME=foo

# Path to the dataset
DATASET=/home/your_user/Datasets

# X11 display to use in localhost mode
# CONTAINER_DISPLAY=:0
CONTAINER_DISPLAY=:1
# X11 display to use in remote mode
# Replace XXX.XXX.XXX.XXX with your host IP address and YY with the display number
# CONTAINER_DISPLAY=XXX.XXX.XXX.XXX:YY


